.navList {
    list-style: none; /* Removes bullet points */
    display: flex;
}

.home_link {
    margin-right: auto;
    display: flex;
    text-decoration: none;
    color: var(--link-color);
    /* padding: 5px 10px 0px 10px; */
}

.home_logo_text {
    display: none;
}

.link {
    display: flex;
    text-decoration: none;
    color: var(--link-color);
    padding: 30px 2em;
}

.activeLink {
    border-bottom: 2px solid var(--link-color);
    background-color: var(--accent-color);
}

/* .accent-link {
    background-color: var(--accent-color);
} */

.nav {
    /* position: fixed; */
    background-color: var(--nav-background-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--hover-color);
    z-index: 9;

    /* justify-content: space-between; */
}

.link:hover {
    transition: background-color 200ms ease-in-out;
    background-color: var(--hover-color);
}

.menu_open_button {
    z-index: 2;
    display: none;
}

.menu_close_button {
    display: none;
}

@media screen and (max-width: 700px) {
    .nav {
        position: fixed;
        top: 0;
        /* right: -100%; */
        right: 0;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid var(--hover-color);
        transition: right 300ms ease-out;
    }

    .menu_open_button {
        fill: black;
        position: fixed;
        display: block;
        background: none;
        border: none;
        padding: 1em;
        /* margin-left: auto; */
        right: 0;
        cursor: pointer;
    }

    .menu_close_button {
        display: block;
        background: none;
        border: none;
        padding: 1em;
        cursor: pointer;
    }

    .show {
        right: 0;
    }

    .hide {
        right: -100%;
    }

    .navList {
        flex-direction: column;
        width: 100%;
    }

    .link {
        width: 100%;
        padding-left: 2.5em;
    }

    .activeLink {
        border-bottom: none;
        background-color: var(--hover-color);
    }

    .home_link {
        margin-right: unset;
    }

    .home_link svg {
        display: none;
    }

    .home_logo_text {
        display: flex;
        padding: 30px 32px 32px 30px;
        width: 100%;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        z-index: 10;
        transition: background-color 0.3s ease;
        pointer-events: none;
    }

    .overlay_show {
        background: rgba(0, 0, 0, 0.5);
        pointer-events: auto;
    }
}
